[project]
	description = Titan Project
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/gpilisi
[access "refs/for/refs/*"]
	read = group user/gpilisi
	push = group user/gpilisi
	label-Code-Review = -2..+2 group user/gpilisi
	label-Verified = -1..+1 group user/gpilisi
	rebase = group user/gpilisi
	removeReviewer = group user/gpilisi
	submit = group user/gpilisi
[access "refs/heads/*"]
	read = group user/gpilisi
	create = group user/gpilisi
	push = +force group user/gpilisi
	pushMerge = group user/gpilisi
[access "refs/tags/*"]
	push = +force group user/gpilisi
	pushTag = group user/gpilisi
	pushSignedTag = group user/gpilisi
